

/* Large devices (desktops, less than 1200px) */
@media (max-width: 75em) {

  .container {
    padding: 30px;
  }



}


/* Medium devices (tablets, less than 992px) */
@media (max-width: 62em) {

  .pt-100 {
    padding-top: 50px;
  }

  .pb-100 {
    padding-bottom: 50px;
  }

  .single-service h4 {
    font-size: 18px;
  }

  .service-img {
    height: 150px;
  }

  .gallery-img {
    height: 150px;
  }


}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 48em) {

  .header {
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
  }

  .header__logo {
    margin-bottom: 20px;
  }

  .header__nav ul li a {
    margin-left: 0;
    margin: 0 10px;
  }

  .about {
    grid-template-columns: 60%;
    row-gap: 30px;
    justify-content: center;
  }

  .service {
    grid-template: none/60%;
    justify-content: center;
  }

  .gallery {
    grid-template: none/60%;
    justify-content: center;
  }

  .gallery-img {
    height: 200px;
  }

  .gallery-img img {
    width: 100%;
  }

  .contact {
    grid-template-columns: auto;
    row-gap: 100px;
  }
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 36em) {}








